@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500&display=swap');

.AboutUs{
    padding: 60px 45px;
    background-color: #FFFFFF;
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
}

.AboutUs-heading{
    width: 600px;
}

.AboutUs-heading>h2{
    font-weight: 500;
    font-size: 2rem;
}

.balloon{
    position: absolute;
    top: 20px;
    right: 350px;
}

.balloon>img{
    max-width: 100%;
}

.AboutUs-section{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutUs-content{
    padding: 0px 50px;
}

.AboutUs-content>h1{
    font-size: 3.8rem;
    font-weight: 500;
    margin: 0;
}

.AboutUs-content>p{
    font-size: 1.2rem;
}