/* Right div content */

.right_content {
  height: auto;
  width: auto;
  margin-top: 17vh;
}
/* SlideIocns.jsx style */

.slideIcons_left {
  margin-left: 39vw;
  margin-top: -2.5vw;
}
.slideIcons_right {
  margin-left: 42vw;
  margin-top: -2.8vw;
}

/* Icons.jsx style */
.Icons_style{
    width:fit-content
}
