.testimonials{
    padding: 0px 45px 30px 45px;
    background-color: #FFFFFF;
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
}

.test-heading{
    text-align: center;
}

.test-comments{
    max-width: 80%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.test-single{
    padding: 0 30px;
    text-align: left;

}

.test-single>p{
    font-style: italic;
}


.test-single>h3{
    margin: 0;
}

.test-single>h5{
    margin: 0;
    font-weight: 400;
}