@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 15px #C4CBCA;
    position: relative;
    z-index: 2;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.nav-list-item{
    padding: 3px 15px;
    font-size: 1rem;
}

.auth-buttons{
    margin: 0 40px;
}

.login-button{
    font-family: 'Poppins';
    font-size: 0.8rem;
    background-color: #80B7C8;
    color: #FFFFFF;
    border: none;
    padding: 4px 18px;
    margin: 0 18px 0 5px;
}

.signup-button{
    font-family: 'Poppins';
    font-size: 0.8rem;
    background-color: #FFFFFF;
    color: #0A0F0D;
    border: solid 1px #0A0F0D;
    padding: 4px 15px;
    margin: 0 5px 0 15px;
}


